<a href="https://colab.research.google.com/github/rohit-sonawane9/Unsupervised-ML-Book-Recommendation-System/blob/main/Book_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -

##### **Project Type**    -  Unsupervised
##### **Contribution**    - Individual
##### **Team Member 1**  - Rohit Sonawane

# **Project Summary -**

Write the summary here within 500-600 words.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

During the last few decades, with the rise of Youtube, Amazon, Netflix, and many other such web services, recommender systems have taken more and more place in our lives. From e-commerce (suggest to buyers articles that could interest them) to online advertisement (suggest to users the right contents, matching their preferences). recommender systems are today unavoidable in our daily online journeys.

In a very general way, recommender systems are algorithms aimed at suggesting relevant.
items to users (items being movies to watch, text to read, products to buy, or anything else depending on industries). Recommender systems are really critical in some industries as they can generate a huge amount of income when they are efficient or also be a way to stand out significantly from competitors. The main objective is to create a book recommendation system for users.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import re
import pickle
import operator
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

import warnings
warnings.filterwarnings("ignore")

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Books data
file_path = ('/content/drive/My Drive/almabetter/Book_Recommending_System/Books.csv')
books = pd.read_csv(file_path)
books.head()

In [ ]:
#Users data
file_path = ('/content/drive/My Drive/almabetter/Book_Recommending_System/Users.csv')
users = pd.read_csv(file_path)
users.head()

In [ ]:
#Ratings Data
file_path = ('/content/drive/My Drive/almabetter/Book_Recommending_System/Ratings.csv')
ratings = pd.read_csv(file_path)
ratings.head()

In [ ]:
# Load Dataset

print("Books Data:    ", books.shape)
print("Users Data:    ", users.shape)
print("Ratings: ", ratings.shape)

### Dataset First View

In [ ]:
# Dataset First Look og books.csv
books.head()

In [ ]:
# Dataset First Look og Users.csv
users.head()

In [ ]:
# Dataset First Look og Ratings.csv
ratings.head()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count of Books.csv
print("Books Rows are:",books.shape[0])
print("Books Columns are:",books.shape[1])

In [ ]:
# Dataset Rows & Columns count of Users.csv
print("Users Rows are:",users.shape[0])
print("Users Columns are:",users.shape[1])

In [ ]:
# Dataset Rows & Columns count of Ratings.csv
print("Ratings Rows are:",ratings.shape[0])
print("Ratings Columns are:",ratings.shape[1])

### Dataset Information

In [ ]:
# Dataset Info
books.info()

In [ ]:
users.info()

In [ ]:
ratings.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
books.duplicated().sum()

In [ ]:
users.duplicated().sum()

In [ ]:
ratings.duplicated().sum()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
books.isnull().sum()

In [ ]:
users.isnull().sum()

In [ ]:
ratings.isnull().sum()

In [ ]:
# Visualizing the missing values
# Checking Null Value by plotting Heatmap
sns.heatmap(books.isnull(), cbar=False)

In [ ]:
# Checking Null Value by plotting Heatmap
sns.heatmap(users.isnull(), cbar=False)

In [ ]:
# Checking Null Value by plotting Heatmap
sns.heatmap(ratings.isnull(), cbar=False)

In [ ]:
# Drop URL columns in Books.csv
books.drop(['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1, inplace=True)

In [ ]:
books.head()

In [ ]:
## Checking for null values
books.isnull().sum()

In [ ]:
books.loc[books['Book-Author'].isnull(),:]

In [ ]:
books.loc[books['Publisher'].isnull(),:]

In [ ]:
books.at[187689 ,'Book-Author'] = 'Other'

books.at[128890 ,'Publisher'] = 'Other'
books.at[129037 ,'Publisher'] = 'Other'

In [ ]:
books.isnull().sum()

In [ ]:
pd.set_option('display.max_colwidth', -1)

In [ ]:
books.loc[books['Year-Of-Publication'] == 'DK Publishing Inc',:]

In [ ]:
books.loc[books['Year-Of-Publication'] == 'Gallimard',:]

In [ ]:
books.at[209538 ,'Publisher'] = 'DK Publishing Inc'
books.at[209538 ,'Year-Of-Publication'] = 2000
books.at[209538 ,'Book-Title'] = 'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'
books.at[209538 ,'Book-Author'] = 'Michael Teitelbaum'

books.at[221678 ,'Publisher'] = 'DK Publishing Inc'
books.at[221678 ,'Year-Of-Publication'] = 2000
books.at[209538 ,'Book-Title'] = 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)'
books.at[209538 ,'Book-Author'] = 'James Buckley'

books.at[220731 ,'Publisher'] = 'Gallimard'
books.at[220731 ,'Year-Of-Publication'] = '2003'
books.at[209538 ,'Book-Title'] = 'Peuple du ciel - Suivi de Les bergers '
books.at[209538 ,'Book-Author'] = 'Jean-Marie Gustave Le ClÃ?Â©zio'

In [ ]:
books['Year-Of-Publication'] = books['Year-Of-Publication'].astype(int)

In [ ]:
print(sorted(list(books['Year-Of-Publication'].unique())))

In [ ]:
## Replacing Invalid years with max year
count = Counter(books['Year-Of-Publication'])
[k for k, v in count.items() if v == max(count.values())]

In [ ]:
books.loc[books['Year-Of-Publication'] > 2021, 'Year-Of-Publication'] = 2002
books.loc[books['Year-Of-Publication'] == 0, 'Year-Of-Publication'] = 2002

In [ ]:
## Uppercasing all alphabets in ISBN
books['ISBN'] = books['ISBN'].str.upper()

In [ ]:
## Drop duplicate rows
books.drop_duplicates(keep='last', inplace=True)
books.reset_index(drop = True, inplace = True)

In [ ]:
books.info()

In [ ]:
books.head()

##### User dataset

In [ ]:
users.info()

In [ ]:
## Check for all values present in Age column
print(sorted(list(users['Age'].unique())))

In [ ]:
required = users[users['Age'] <= 80]
required = required[required['Age'] >= 10]

In [ ]:
mean = round(required['Age'].mean())
mean

In [ ]:
users.loc[users['Age'] > 80, 'Age'] = mean    #outliers with age grater than 80 are substituted with mean
users.loc[users['Age'] < 10, 'Age'] = mean    #outliers with age less than 10 years are substitued with mean
users['Age'] = users['Age'].fillna(mean)      #filling null values with mean
users['Age'] = users['Age'].astype(int)       #changing Datatype to int

In [ ]:
list_ = users.Location.str.split(', ')

city = []
state = []
country = []
count_no_state = 0
count_no_country = 0

for i in range(0,len(list_)):
    if list_[i][0] == ' ' or list_[i][0] == '' or list_[i][0]=='n/a' or list_[i][0] == ',':  #removing invalid entries too
        city.append('other')
    else:
        city.append(list_[i][0].lower())

    if(len(list_[i])<2):
        state.append('other')
        country.append('other')
        count_no_state += 1
        count_no_country += 1
    else:
        if list_[i][1] == ' ' or list_[i][1] == '' or list_[i][1]=='n/a' or list_[i][1] == ',':   #removing invalid entries
            state.append('other')
            count_no_state += 1
        else:
            state.append(list_[i][1].lower())

        if(len(list_[i])<3):
            country.append('other')
            count_no_country += 1
        else:
            if list_[i][2] == ''or list_[i][1] == ',' or list_[i][2] == ' ' or list_[i][2] == 'n/a':
                country.append('other')
                count_no_country += 1
            else:
                country.append(list_[i][2].lower())

users = users.drop('Location',axis=1)

temp = []
for ent in city:
    c = ent.split('/')            #handling cases where city/state entries from city list as state is already given
    temp.append(c[0])

df_city = pd.DataFrame(temp,columns=['City'])
df_state = pd.DataFrame(state,columns=['State'])
df_country = pd.DataFrame(country,columns=['Country'])

users = pd.concat([users, df_city], axis=1)
users = pd.concat([users, df_state], axis=1)
users = pd.concat([users, df_country], axis=1)

print("Number of entries without a state:", count_no_state)
print("Number of entries without a country:", count_no_country)

In [ ]:
# Drop duplicate rows
users.drop_duplicates(keep='last', inplace=True)
users.reset_index(drop=True, inplace=True)

In [ ]:
users.info()

In [ ]:
users.head()

##### Ratings dataset

In [ ]:
ratings.info()

In [ ]:
## checking ISBN
flag = 0
k =[]
reg = "[^A-Za-z0-9]"

for x in ratings['ISBN']:
    z = re.search(reg,x)
    if z:
        flag = 1

if flag == 1:
    print("False")
else:
    print("True")

In [ ]:
## removing extra characters from ISBN (from ratings dataset) existing in books dataset
bookISBN = books['ISBN'].tolist()
reg = "[^A-Za-z0-9]"
for index, row_Value in ratings.iterrows():
    z = re.search(reg, row_Value['ISBN'])
    if z:
        f = re.sub(reg,"",row_Value['ISBN'])
        if f in bookISBN:
            ratings.at[index , 'ISBN'] = f

In [ ]:
## Uppercasing all alphabets in ISBN
ratings['ISBN'] = ratings['ISBN'].str.upper()

In [ ]:
## Drop duplicate rows
ratings.drop_duplicates(keep='last', inplace=True)
ratings.reset_index(drop=True, inplace=True)

In [ ]:
ratings.info()

# ***Data Wrangling***

## Data Wrangling Code

### Merging All dataset

In [ ]:
ds = pd.merge(books, ratings, on='ISBN', how='inner')
ds = pd.merge(ds, users, on='User-ID', how='inner')
ds.info()

In [ ]:
ds

In [ ]:
ds.isnull().sum()

### Making Copy of Dataset

In [ ]:
# Before doing any data wrangling lets create copy of the dataset
ds_2 = ds.copy()

#### Divide complete data on the basis of Implicit and Explicit ratings datasets

##### Explicit Ratings Dataset : dataset1

In [ ]:
## Explicit Ratings Dataset
dataset1 = ds[ds['Book-Rating'] != 0]
dataset1 = dataset1.reset_index(drop = True)
dataset1.shape

##### Implicit Ratings Dataset : dataset1

In [ ]:
## Implicit Ratings Dataset
dataset2 = ds[ds['Book-Rating'] == 0]
dataset2 = dataset2.reset_index(drop = True)
dataset2.shape

In [ ]:
# dataset1 first look
dataset1.head()

In [ ]:
# first look of dataset2
dataset2.head()

### What did you know about your dataset?

This dataset is dataset of Books,Users and user ratings on those books.It have various column like 'ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','User-ID', 'Book-Rating', 'Age', 'City', 'State', 'Country'.

### ***Understanding Your Variables***

In [ ]:
# Dataset Columns
ds.columns

In [ ]:
# Dataset Describe (all columns included)
ds.describe(include= 'all').round(2)

### Variables Description

'ISBN' - International Standard Book Number
'Book-Title' - Title of Book
'Book-Author' - Author of Book
'Year-Of-Publication' - Year of book Published
'Publisher' - Name of Publisher
'User-ID' - User ID Number who used book and giving Rating
'Book-Rating' - rating to book between 0-10
'Age' -  Age of User
'City' - City of User
'State' - State of User
'Country' - Country of user

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable using a for loop
for i in ds.columns.tolist():
  print("No. of unique values in",i,"is",ds[i].nunique())

### What all manipulations have you done and insights you found?

1. Changing faulty data entry to right column in which it should be.
2. Filling NA/NULL values to as per requirement of Column of Dataset.

# Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables

## Chart - 1

In [ ]:
# Chart - 1 visualization code
publications = {}
for year in books['Year-Of-Publication']:
    if str(year) not in publications:
        publications[str(year)] = 0
    publications[str(year)] +=1

publications = {k:v for k, v in sorted(publications.items())}

fig = plt.figure(figsize =(55, 15))
plt.bar(list(publications.keys()),list(publications.values()), color = 'blue')
plt.ylabel("Number of books published")
plt.xlabel("Year of Publication")
plt.title("Number of books published yearly")
plt.margins(x = 0)
plt.show()

##### 1. Why did you pick the specific chart?

To visualize Numbers of book published by Years in given dataset.

##### 2. What is/are the insight(s) found from the chart?

We found that most of books are published on large scale in early 1970.
In 2002 maximum number of books were published.
after that book publication slow down.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

No specific reason is given in dataset.

## Chart - 2

In [ ]:
# Chart - 2 visualization code
plt.figure(figsize=(15,6))
sns.countplot(y="Book-Author", data=books,order=books['Book-Author'].value_counts().index[0:15])
plt.title("No of books by an author (Top 15)")

##### 1. Why did you pick the specific chart?

TO check which Author has published maximum number of books.

##### 2. What is/are the insight(s) found from the chart?

Author - Agatha Christie has write books more than 600.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

There is no specific reason , but maybe Write or Author has maximum book with Nice Ratings.

## Chart - 3

In [ ]:
# Chart - 3 visualization code
plt.figure(figsize=(15,6))
sns.countplot(y="Publisher", data=books,order=books['Publisher'].value_counts().index[0:15])
plt.title("No of books published by a publisher (Top 15)")

##### 1. Why did you pick the specific chart?

TO check which Publisher has published maximum number of books.

##### 2. What is/are the insight(s) found from the chart?

Publisher name - Harlequin has published More than 7000 books.

## Chart - 4

In [ ]:
# Chart - 4 visualization code
plt.figure(figsize=(8,6))
sns.countplot(x="Book-Rating", data=ratings)

##### 1. Why did you pick the specific chart?

To check Number of books with various Book-Ratings.

##### 2. What is/are the insight(s) found from the chart?

Maximum number of Books are in  0 Ratings column.

## Chart - 5

In [ ]:
# Chart - 5 visualization code
## Explicit Ratings
plt.figure(figsize=(8,6))
data = ratings[ratings['Book-Rating'] != 0]
sns.countplot(x="Book-Rating", data=data)
plt.title("Explicit Ratings")

##### 1. Why did you pick the specific chart?

To check Distribution of book of numbers other than 0 Rating books.

##### 2. What is/are the insight(s) found from the chart?

Rating -8 has more commonly rating number in dataset other than 0 rating data.

## Chart - 6

In [ ]:
# Chart - 6 visualization code
plt.figure(figsize=(8,6))
users.Age.hist(bins=[10*i for i in range(1, 10)])
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

##### 1. Why did you pick the specific chart?

To check which age group of Users reading more books.

##### 2. What is/are the insight(s) found from the chart?

1. 30 - 40 age group read more books around 150000 plus books.
2. 20-30 , 30-40, 40-50 age group contains around 220000 plus books of dataset.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

This is positive thing because 20-30 age group is learning new things from group and
age group of 20-30,30-40, 40-50 are able to buy books by themselves.

## Chart - 7

In [ ]:
# Chart - 7 visualization code
plt.figure(figsize=(20,6))
sns.countplot(x="City", data=users,order=users['City'].value_counts().index[0:15])
plt.title("No of readers from each city (Top 15)")

##### 1. Why did you pick the specific chart?

To visualize numbers of books Citywise.

##### 2. What is/are the insight(s) found from the chart?

Landon Reads more number of books as per dataset.
Ottawa reads less number of books.

## Chart - 8

In [ ]:
# Chart - 9 visualization code
plt.figure(figsize=(15,8))
sns.countplot(y="Country", data=users, order=users['Country'].value_counts().index[0:10])
plt.title("No of readers from each country (Top 10)")

##### 1. Why did you pick the specific chart?

To visualize numbers of book reader as per country.

##### 2. What is/are the insight(s) found from the chart?

USA has more number of readers

## Chart - 9

In [ ]:
# Chart - 10 visualization code
data=users[users['Country']=='usa']
plt.figure(figsize=(20,6))
sns.countplot(x="State", data=data,order=data['State'].value_counts().index[0:15])
plt.title("No of readers from states of USA (Top 15)")

##### 1. Why did you pick the specific chart?

To visualize Statewise No. of reader in USA

##### 2. What is/are the insight(s) found from the chart?

California state has more readers.

## Chart - 10

In [ ]:
# Chart - 11 visualization code
plt.figure(figsize=(15,8))
sns.countplot(y="Book-Title", data=ds_2, order=ds_2['Book-Title'].value_counts().index[0:15])
plt.title("Number of Ratings for a book (Top 15)")

##### 1. Why did you pick the specific chart?

To visualize which books gets more number of ratings.

##### 2. What is/are the insight(s) found from the chart?

Book name - 'Wild Animus' has more ratings.

# Recommendation Systems

In [ ]:
bookName = input("Enter a book name: ")
number = int(input("Enter number of books to recommend: "))

# Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))

## Popularity Based (Top In whole collection)

In [ ]:
def popularity_based(dataframe, n):
    if n >= 1 and n <= len(dataframe):
        data = pd.DataFrame(dataframe.groupby('ISBN')['Book-Rating'].count()).sort_values('Book-Rating', ascending=False).head(n)
        result = pd.merge(data, books, on='ISBN')
        return result
    return "Invalid number of books entered!!"

In [ ]:
print("Top", number, "Popular books are: ")
popularity_based(dataset1, number)

## Popularity Based (Top In a given place)

In [ ]:
def search_unique_places(dataframe, place):
    place = place.lower()

    if place in list(dataframe['City'].unique()):
        return dataframe[dataframe['City'] == place]
    elif place in list(dataframe['State'].unique()):
        return dataframe[dataframe['State'] == place]
    elif place in list(dataframe['Country'].unique()):
        return dataframe[dataframe['Country'] == place]
    else:
        return "Invalid Entry"

In [ ]:
place = input("Enter the name of place: ")
data = search_unique_places(dataset1, place)

if isinstance(data, pd.DataFrame):
    data = popularity_based(data, number)

data

## Books by same author, publisher of given book name

In [ ]:
def printBook(k, n):
    z = k['Book-Title'].unique()
    for x in range(len(z)):
        print(z[x])
        if x >= n-1:
            break

In [ ]:
def get_books(dataframe, name, n):
    print("\nBooks by same Author:\n")
    au = dataframe['Book-Author'].unique()

    data = dataset1[dataset1['Book-Title'] != name]

    if au[0] in list(data['Book-Author'].unique()):
        k2 = data[data['Book-Author'] == au[0]]
    k2 = k2.sort_values(by=['Book-Rating'])
    printBook(k2, n)

    print("\n\nBooks by same Publisher:\n")
    au = dataframe['Publisher'].unique()

    if au[0] in list(data['Publisher'].unique()):
        k2 = pd.DataFrame(data[data['Publisher'] == au[0]])
    k2=k2.sort_values(by=['Book-Rating'])
    printBook(k2, n)

In [ ]:
if bookName in list(dataset1['Book-Title'].unique()):
    d = dataset1[dataset1['Book-Title'] == bookName]
    get_books(d, bookName, number)
else:
    print("Invalid Book Name!!")

## Books popular Yearly

In [ ]:
data = pd.DataFrame(dataset1.groupby('ISBN')['Book-Rating'].count()).sort_values('Book-Rating', ascending=False)
data = pd.merge(data, books, on='ISBN')

years = set()
indices = []
for ind, row in data.iterrows():
    if row['Year-Of-Publication'] in years:
        indices.append(ind)
    else:
        years.add(row['Year-Of-Publication'])

data = data.drop(indices)
data = data.drop('Book-Rating', axis = 1)
data = data.sort_values('Year-Of-Publication')

pd.set_option("display.max_rows", None, "display.max_columns", None)
data

# *Conclusion*

1. In EDA, I found 'Wild Animus' Book is rated more.
2. Majority of the readers were of the age bracket '30-40' and most of them came from North American and European countries namely USA, Canada, UK, Germany and Spain.
3. If we look at the ratings distribution, most of the books have high ratings with maximum books being rated 8.
   Ratings below 5 are few in number.
4. Author with the most books was Agatha Christie, William Shakespeare and Stephen King.